:root {
  --bg: #a8a8a8;
  --bg2: #87ceeb;
  --bg3: #579cb7;
  --orange: #f65200;
  --green: #51c43f;
  --red: #c93038;
}

@font-face {
  /*
   * Please read /fonts/spice-escape/readme.txt
   * and /fonts/spice-escape/license.txt
   */
  
  font-family: 'Spice Escape';
  src: url('/fonts/spice-escape/spice-escape.ttf') format('truetype'),
       url('/fonts/spice-escape/spice-escape.woff2') format('woff2'),
       url('/fonts/spice-escape/spice-escape.woff') format('woff');
}

html, body {
  margin: 0px;
  padding: 0px;
  border: none !important;

  overflow: hidden;
}

.spicy-cursor {
  cursor: url('/img/kajam-cursor.png'), auto;
}

* {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  outline: none;

  font-family: 'Spice Escape', monospace;

  text-transform: uppercase;
}

button {
  cursor: pointer;
}

div[class], div[id], button, input {
  border: 2px solid black;
  border-radius: 0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--orange);
  filter: grayscale(0.5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--orange);
  filter: grayscale(0.5);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--orange);
  filter: grayscale(0.5);
}

div#home {
  position: fixed;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  border: none;

  background: var(--bg2);

  overflow-x: hidden;
  overflow-y: auto;
}

div#home div#ads {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  padding: 10px;
  text-align: center;
  animation-name: ads-anim;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}

div#home div#ads :first-child {
  margin: 0px;
}

div#home div#ads div.replit-game-ad-widget {
  margin: 10px 0px;
}

@keyframes ads-anim {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

div#home div#home-main {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: none;

  height: 100vh;
}

div#home * {
  color: var(--orange);
}

div#home header {
  width: 95vw;
  aspect-ratio: 2;

  visibility: hidden;

  pointer-events: none;

  user-select: none;
}

div#home header, div#home div#nick-container {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  visibility: hidden;
}

@keyframes header-anim {
  from {
    transform: translateX(-125vw);
  }

  to {
    transform: none;
  }
}

@keyframes nick-anim {
  from {
    transform: translateX(125vw);
  }

  to {
    transform: none;
  }
}

div#home header img#header-img, div#home header img#header-full-img {
  height: 100%;
}

div#home header img#header-full-img {
  display: none;
}

@media only screen and (max-width: 1000px) {
  div#home header img#header-img, div#home header img#header-hot-sauce {
    display: none;
  }

  div#home header img#header-full-img {
    display: unset;
  }
}

div#home header img#header-hot-sauce {
  position: absolute;

  top: 13vh;
  right: 15vw;

  height: 45vh;

  transform: rotate(344deg);
}

div#home div#nick-container {
  border: none;
}

div#home input#nick-inp {
  margin-right: 10px;

  min-width: 200px;
}

div#home div#about {
  border: none;

  margin-top: 5vh;

  text-align: center;

  line-height: 1.5;
}

div#game {
  border: none;
}

div#abilities {
  position: absolute;

  left: 25px;
  bottom: 25px;

  width: calc((96px * 4) + (2px * 8));
  height: calc(96px + (2px * 2));

  border: none;

  pointer-events: none;
}

div#abilities button.ability {
  width: 96px;
  height: 96px;

  aspect-ratio: 1;

  border-radius: 50%;
  /* border: none;
  background-image: url(/img/border.png), radial-gradient(var(--bg2) 0%, var(--bg2) 70%, transparent 71%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */

  /* margin: 0px 25px 0px 0px; */
  position: absolute;
  top: 0px;
  bottom: 0px;

  background-color: #f0f0f0;
  opacity: 0.9;

  padding: 0px;

  display: none;

  pointer-events: auto;
}

div#abilities button.ability:first-child {
  left: 0px;
}

div#abilities button.ability:nth-child(2) {
  left: calc(96px + (3px * 2));
}

div#abilities button.ability:nth-child(3) {
  left: calc(96px * 2 + (3px * 4));
}

div#abilities button.ability:last-child {
  right: 0px;
}

div#abilities button.ability span.ability-cooldown {
  display: none;

  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  align-items: center;
  justify-content: center;

  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: white 1px;

  z-index: 2;

  font-size: 30px;
}

div#abilities button.ability[disabled] img.ability-img {
  filter: grayscale(1) brightness(0.8);
}

div#abilities button.ability[disabled] span.ability-cooldown {
  display: flex;
}

div#abilities button.ability:hover {
  opacity: 1;
}

div#abilities button.ability img.ability-img {
  width: 100%;
  height: 100%;

  /* make e.target always the button in JS */
  pointer-events: none;

  /* make image come out of button */
  position: relative;
}

div#end-screen {
  position: fixed;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background: black;

  display: none;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#end-screen #end-screen-title {
  font-size: 50px;

  width: fit-content;
}

div#end-screen #end-screen-title.victory {
  color: var(--green);
}

div#end-screen #end-screen-title.defeat {
  color: var(--red);
}

div#end-screen div#end-screen-winners {
  width: max-content;
}

div#end-screen div#end-screen-winners div.end-screen-player {
  width: min-content;
  height: min-content;

  display: inline-flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#end-screen div#end-screen-winners div.end-screen-player::before {
  content: attr(data-nick);

  text-align: center;

  /* default to white color */
  color: white;

  /* if text outlines are supported
  change color to black and add white outline */
  -webkit-text-fill-color: black;
  -webkit-text-stroke: white 1px;
}

div#end-screen div#end-screen-winners div.end-screen-player img {
  background-image: url(/img/players.png);
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  background-size: 2048px;
  background-position: 0 0;
}

div#end-screen div#end-screen-winners div.end-screen-player.end-screen-player-killer img {
  background-position-x: -1024px;
}